# Development configuration
.vscode/**
.vscode-test/**
.vscode-test.mjs
.editorconfig
.gitignore
.npmrc

# Source files
src/**
**/*.ts
**/*.map

# Build configuration
**/tsconfig.json
**/eslint.config.mjs

# Dependencies
node_modules/
pnpm-lock.yaml

# IDE
.idea/**

# Documentation
CONTRIBUTING.md

# Test files
**/test/**
